repos/.DS_Store
repos/drupal/
vendor/
.ddev/
.DS_Store
databases
composer.lock
web/core
web/.csslintrc
web/.eslintignore
web/.eslintrc.json
web/.ht.router.php
web/.htaccess
web/INSTALL.txt
web/README.md
web/autoload.php
web/example.gitignore
web/index.php
web/modules/README.txt
web/profiles/README.txt
web/robots.txt
web/sites/README.txt
web/sites/development.services.yml
web/sites/example.settings.local.php
web/sites/example.sites.php
web/themes/README.txt
web/update.php
web/sites/
web/modules/contrib/
